body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

 
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 36px;
    color: #444;
    margin-bottom: 20px;

}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    gap: 10px;
    margin-top: 20px;
}

button {
    width: 80px;
    height: 80px;
    font-size: 24px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button3 {
    padding: 14px 40px;
}


button:hover {
    background-color: #0057b33f;
    transform: scale(1.05);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    box-shadow: none;
}

button:active {
    background-color: #e60000;
    transform: scale(0.95);
}

body{
    
background-image: url('P.jpeg');
background-size: cover; 

}

